<div *ngIf="products.length > 1" class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products; let i=index" class="col-xs-12">
      <!-- <a *ngIf="i > 0" routerLink="/product/details/{{product.id}}" style="cursor: pointer;" class="list-group-item clearfix">
      </a> -->
      <tr *ngIf="i > 0" >
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}} EUR</td>
        <img class='orderProductImg' src={{product.imageUrl}} alt="image">
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="products.length > 1">
  <button type="button" class="btn btn-success" (click)="submitOrder()">Submit order</button>
</div>
<div *ngIf="noProducts">
  <p class="text-danger">The cart is empty</p>

</div>