<div *ngIf="product">
  <div  class="row">
    <div class="col-xs-12">
      <img
        src="{{product.imageUrl}}"
        alt="{{product.name}}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{product.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <ul>
            <li *ngIf="authService.isAdmin()"  ><a style="cursor: pointer;" routerLink="/product/edit/{{id}}">Edit product</a></li>
            <li *ngIf="authService.isAdmin()"  ><a style="cursor: pointer;" (click)="delete()">Delete product</a></li>
            <li  *ngIf="!authService.isAdmin()"  ><a  style="cursor: pointer;" (click)="purchase()">Purchase product</a></li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{product.category}}
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        {{product.price}}
      </div>
    </div>
  
</div>
